.section-header {
  color: darkgoldenrod;
  border-bottom: 1px solid #CCC;
  font-size: 250%;
}
.code-snippet {
  font-size: 25%;
  color: grey;
}
#slider1 .jquilar-slider{
  width: 400px;
}
#slider2 .jquilar-slider {
  height: 200px;
}
#slider3 .jquilar-slider{
  width: 400px;
}
.centered {
  text-align: center;
}
.angular-red {
  color: #C33E41;
}
#page-title {
  color: #C33E41;
}
.big {
  font-size: 3vh;
  font-weight: bold;
}
.muted {
  color: #767676;
}
.gold {
  color: darkgoldenrod;
}
.whiteonbluishslategrey {
  color: white;
  background-color: #6784A1;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
form.ui.segment.form {
  background-color: #F1F9FF;
  margin-top: 2em;
}
form.form:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.jquilar-sortable {
  list-style-type: none;
  padding-left: 0;
}
.votes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
  padding: 1em 0;
  border-radius: 5px;
}

.ui.grid.posts {
  margin-top: 2em;
}

.meta {
  color: #9A9A9A
}

.ui.grid>.row>.column.votes {
  display: flex;
}

ul.ui.list li:before {
  content: '';
}
