.albums-table {
    display: table;
    width: 100%;
}

.albums-row {
    display: table-row;
}

.album-cell {
    display: table-cell;
    border: 1px solid #EFEFEF;
    padding: 5px;
    width: 10%;
}

.album-name {
    font-weight: bold;
    color: darkslategrey;
}
